{% assign docList = site.data.tocList.docs | sort: 'toc-position'  %}
<h2><a href="{{ '/' | relative_url }}">{{site.data.tocList.docs_list_title}}</a></h2>
<ul>
   {% for item in docList %}
      <button class="accordion"><li><a style="font-size:14px;" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li></button>
      <div class="panel"><ul>
        {% for entry in item.subfolderitems %}
        <li><a style="font-size:12px; padding-left:40px" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
      </ul></div>
   {% endfor %}
</ul>